[submodule "src/object_tracker"]
	path = src/object_tracker
	url = https://github.com/vitpetrik/Object-tracker-ROS.git
[submodule "src/mrs_msgs"]
	path = src/mrs_msgs
	url = https://github.com/vitpetrik/mrs_msgs.git
[submodule "src/uwb"]
	path = src/uwb
	url = https://github.com/vitpetrik/UWB_MRS_ranging_ros_node.git
[submodule "src/leader_follower"]
	path = src/leader_follower
	url = https://github.com/vitpetrik/leader_follower.git
[submodule "src/uvdar_gazebo"]
	path = src/uvdar_gazebo
	url = https://github.com/ctu-mrs/uvdar_gazebo_plugin.git
[submodule "src/mrs_serial"]
	path = src/mrs_serial
	url = https://github.com/ctu-mrs/mrs_serial.git
[submodule "src/uvdar_core"]
	path = src/uvdar_core
	url = https://github.com/ctu-mrs/uvdar_core
